<div class="user-profile-info">
  <div class="professional-info">
  {{#if user.title}}
    <h3>{{user.title}}</h3>
  {{/if}}
  {{#if custom_fields.primary_brokerage}}
    <h3 class="post-user-real-state-brokerage-profile">
      {{custom_fields.primary_brokerage}}
    </h3>
  {{/if}}
    <ul>
    {{#unless site.mobileView}}
      {{#if user.can_send_private_message_to_user}}

        <li><a class='btn btn-primary' {{action "triggerPrivateMessage" user}}>
          {{fa-icon "pencil-square-o"}}
          {{i18n 'user.private_message'}}
        </a></li>

      {{/if}}

      {{#unless currentUser}}

        <li><a class='btn btn-primary' href='https://twobyfore.com/join/?try=comment'>
          {{fa-icon "pencil-square-o"}}
          {{i18n 'user.private_message'}}
        </a></li>

      {{/unless}}

      {{#if currentUser.staff}}
        <li><a href={{user.adminPath}} class="btn">{{fa-icon "wrench"}}{{i18n 'admin.user.show_admin_profile'}}</a></li>
      {{/if}}
    {{/unless}}

    {{plugin-outlet "user-profile-controls" tagName="li"}}

    {{#if collapsedInfo}}
    {{#if viewingSelf}}
    <li><a {{action "expandProfile"}} href class="btn">{{fa-icon "angle-double-down"}}{{i18n 'user.expand_profile'}}</a></li>
    {{/if}}
    {{/if}}
    </ul>
  </div>
  <div class="basic-info">
    {{#if custom_fields.location}}
      <h3 class="post-user-location-profile">
        {{custom_fields.location}}
      </h3>
    {{/if}}
    {{#if user.website_name}}
      {{#if linkWebsite}}
        <a href={{user.website}} rel={{unless removeNoFollow 'nofollow'}} target="_blank">{{user.website_name}}</a>
      {{else}}
        <h3 title={{user.website}}>{{user.website_name}}</h3>
      {{/if}}
    {{/if}}
    {{#if custom_fields.email}}
      <a href="mailto:{{custom_fields.email}}" target="_blank">{{custom_fields.email}}</a>
    {{/if}}
    {{#if custom_fields.facebook_url}}
      <a style="display: inline-block" target="_blank" href={{custom_fields.facebook_url}}>
        <span class="facebook fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x"></i>
        </span>
      </a>
    {{/if}}
    {{#if custom_fields.twitter_url}}
      <a style="display: inline-block" target="_blank" href={{custom_fields.twitter_url}}>
        <span class="twitter fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
      </a>
    {{/if}}
    {{#if custom_fields.instagram_url}}
      <a style="display: inline-block" target="_blank" href={{custom_fields.instagram_url}}>
        <span class="instagram fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-instagram fa-stack-1x"></i>
        </span>
      </a>
    {{/if}}
    {{#if custom_fields.linkedin_url}}
      <a style="display: inline-block" target="_blank" href={{custom_fields.linkedin_url}}>
        <span class="linkedin fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x"></i>
        </span>
      </a>
    {{/if}}
    {{#if custom_fields.youtube_url}}
      <a style="display: inline-block" target="_blank" href={{custom_fields.youtube_url}}>
        <span class="youtube fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-youtube-play fa-stack-1x"></i>
        </span>
      </a>
    {{/if}}
    {{#if site.mobileView}}
      {{#if user.can_send_private_message_to_user}}

        <a class='btn btn-primary' {{action "triggerPrivateMessage" user}}>
          {{fa-icon "pencil-square-o"}}
          {{i18n 'user.private_message'}}
        </a>

      {{/if}}

      {{#unless currentUser}}

        <a class='btn btn-primary' href='https://twobyfore.com/join/?try=comment'>
          {{fa-icon "pencil-square-o"}}
          {{i18n 'user.private_message'}}
        </a>

      {{/unless}}

      {{#if currentUser.staff}}
        <a href={{user.adminPath}} class="btn">{{fa-icon "wrench"}}{{i18n 'admin.user.show_admin_profile'}}</a>
      {{/if}}
    {{/if}}
  </div>
</div>
